@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
} 

.content {
    background-color: white;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.content::before {
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    
}

.first-content {
    display: flex;
    

}

.title {
    color: #58af9b;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    
}

.title-primary {
    color: white;
    
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;

}

.description {
    font-size: 14px;
    color: white;
}

.btn {
    border-radius: 15px;
    background-color: #58af9b;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 50px;
    border-color: 2px white;
    
}

.btn:hover {
    ba
}

.btn-primary {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 50px;
    border-radius: 15px;
    
}

.btn-primary:hover {
    background-color: white;
    color: #58af9b;;
    font-weight: bold;
}



.second-column {
    flex: 2 0 auto;
}

.list-social-media {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.second-content {
    position: absolute;
    display: none;
}



